<html>
  <head>
    <title>Search - Schoolnetwork Prototype</title>
  <body>
    <h1>Search</h1>
    <form action="/search" method="get">
      <label for="search_phrase">Search Phrase</label>
      <input type="text" name="search_phrase"/>
      <p/>
      <input type="submit" />
    </form>
  </body>
</html>
